<!-- ================= Footer Area Start ================= -->
<footer id="footer_area">
		<div class="container text-center">
				<div class="row">
						<div class="col-md-12">
								<!-- Footer Content Area Start -->
								<div class="footer-content">
										<!-- Footer logo -->
										<a href="/">
												<img class="invert" src="{{ asset "images/hohmbody_text_logo.png" }}" alt="Home">
										</a>
										<hr>
										<!-- Footer Subscribe -->
										<h6>Subscribe to our Newsletter</h6>
										<form action="//reflowster.us8.list-manage.com/subscribe/post?u=ff96b7e65b1af044dc5a90dce&amp;id=d61b64d495" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
											<div class="subscribe">
													<input type="text" placeholder="Email address" name="EMAIL" class="required email" id="mce-EMAIL"/>
													<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"/>
											</div>
											<div id="mce-responses">
												<h6 class="response" id="mce-error-response" style="display:none"></h6>
												<h6 class="response" id="mce-success-response" style="display:none"></h6>
											</div>
										  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ff96b7e65b1af044dc5a90dce_d61b64d495" tabindex="-1" value=""></div>
									  </form>
										<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
										<!-- Footer Icon -->
										<div class="footer-icon">
												<a href="http://facebook.com/hohmbody"><i class="fa fa-facebook facebook"></i></a>
												<a href="http://twitter.com/flickerstrip"><i class="fa fa-twitter twitter"></i></a>
												<a href="#"><i class="fa fa-youtube youtube"></i></a>
												{{!--
												<a href="#"><i class="fa fa-google-plus google-plus"></i></a>
												<a href="#"><i class="fa fa-linkedin linkedin"></i></a>
												<a href="#"><i class="fa fa-instagram instagram"></i></a>
												<a href="#"><i class="fa fa-pinterest-p pinterest"></i></a>
												--}}
										</div>
								</div>
								<!-- Footer Content Area End -->
						</div>
				</div>
		</div>
		<div class="container-fluid no-padding">
				<!-- Footer Copywrite text -->
				<div class="footer-bottom text-center">
						<p>Copyright &copy; 2016 <a href="#">HOhmBody</a>. All rights reserved.</p>
				</div>
		</div>
</footer>
<!-- ================= Footer Area End ================= -->
