<!-- ================= Start About Area ================= -->
<section id="about-area">
    <div class="container section-padding">
        <div class="row">
            <!-- About Content Start -->
            <div class="col-md-6 col-sm-8">
                <div class="about-content">
                    <h2>About <span>ACIS</span></h2>
                    <!-- About Content -->
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. quis nostrud.</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-caret-right"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li><i class="fa fa-caret-right"></i>Ut hendrerit felis molestie, tincidunt turpis volutpat, vestibulum erat.</li>
                        <li><i class="fa fa-caret-right"></i>Sed ornare velit eget ante fermentum, vitae euismod nunc semper.</li>
                        <li><i class="fa fa-caret-right"></i>In in lorem commodo, interdum purus ac, vestibulum lorem.</li>
                    </ul>
                    <!-- View More Button -->
                    <div class="view_more_button">
                        <a href="#">View More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- About Content End -->

            <!-- About Images Area Start -->
            <div class="col-md-6 col-sm-4">
                <div class="about-img wow fadeInRight" data-wow-duration="1s">
                    <img src="{{asset "/theme_images/about-img.png"}}" alt="About Image" />
                </div>
            </div>
            <!-- About Images Area End -->
        </div>
    </div>
</section>
<!-- ================= End About Area ================= -->
