<!-- ================= Start Amazing Facts Area ================= -->
<section id="amazing-facts-area">
    <div class="overlay section-padding-dark text-center">
        <div class="container no-padding">
            <div class="row">
                <div class="col-md-12">
                    <!-- Section Title -->
                    <div class="section_title_white text-center margin-bottom-60">
                        <h2>Some Amazing Facts</h2>
                        <p>It’s quality and modern PSD template. It is an elegant solution for corporate business, portfolio sites.</p>
                    </div>
                </div>
            </div>
            <div class="container no-padding">
                <!-- Single Counter -->
                <div class="single-counter project-counte floatleft">
                    <i class="fa fa-check"></i>
                    <h2 class="counter">237</h2>
                    <h6>Projects Completed</h6>
                </div>
                <!-- Single Counter -->
                <div class="single-counter clients-counte floatleft">
                    <i class="fa fa-heart"></i>
                    <h2 class="counter">159</h2>
                    <h6>Happy Client</h6>
                </div>
                <!-- Single Counter -->
                <div class="single-counter coffee-counte floatleft">
                    <i class="fa fa-coffee"></i>
                    <h2 class="counter">1498</h2>
                    <h6>Coffee Served</h6>
                </div>
                <!-- Single Counter -->
                <div class="single-counter services-counte floatleft">
                    <i class="fa fa-cog"></i>
                    <h2 class="counter">143</h2>
                    <h6>Services Offered</h6>
                </div>
                <!-- Single Counter -->
                <div class="single-counter facebook-counte floatleft">
                    <i class="fa fa-thumbs-o-up"></i>
                    <h2><span class="counter">50000</span> + </h2>
                    <h6>Facebook Likes</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================= End Amazing Facts Area ================= -->
