<!-- ================= Start Mail Slider Area ================= -->
<div id="main_slider_area">
    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            <ul>
                <!-- 2nd SLIDE Strat -->
                <li data-transition="boxfade" data-slotamount="6" data-masterspeed="1500" data-thumb="{{asset "/theme_images/slider_thumb_one.jpg"}}" data-delay="15000" data-saveperformance="off" data-title="Welcome To SANDER">
                    <!-- MAIN IMAGE -->
                    <img src="{{asset "/images/iot_bg.jpg"}}" alt="Slider Two Bg">

                    <!-- LAYERS -->

                    <!-- Layer 1 Heading -->
                    <div class="tp-caption sfb tp-resizeme" data-x="center" data-y="250" data-speed="600" data-start="1000" data-easing="easeInQuad" data-easeout="easeOutQuad" style="max-width: auto; max-height: auto; color: #fff; font-family: 'Montserrat', sans-serif; font-size: 82px; text-align:center; line-height:90px; font-weight:900;">
                      HOhmBody
                    </div>

                    <!-- Layer 2 Heading -->
                    <div class="tp-caption sfb tp-resizeme" data-x="center" data-y="400" data-speed="600" data-start="1500" data-easing="easeInQuad" data-easeout="easeOutQuad" style="max-width: auto; max-height: auto; color: #fff; font-family: 'Montserrat', sans-serif; font-size: 72px; text-align:center; line-height:90px; font-weight:900;">
                      Gadgets
                    </div>

                    <!-- Layer 3 Heading -->
                    <div class="tp-caption sfb tp-resizeme" data-x="center" data-y="480" data-speed="600" data-start="2000" data-easing="easeInQuad" data-easeout="easeOutQuad" style="max-width: auto; max-height: auto; color: #fff; font-family: 'Montserrat', sans-serif; font-size: 72px; text-align:center; line-height:90px; font-weight:900;">
                      for a smarter home
                    </div>

                    <!-- Layer 4 Icon -->
                    <div class="tp-caption lft tp-resizeme button" data-x="350" data-y="745" data-speed="800" data-start="2500" data-easing="fadeInUp" style="max-width: auto; max-height: auto;">
                        <a href='http://store.hohmbody.com' style="padding: 20px 45px; background: #fff; font-family: 'Montserrat', sans-serif; font-size: 20px; text-transform: uppercase; color: #666666; border-radius:50px; font-weight:400; text-align:center;">
                          shop now
                        </a>
                    </div>

                    <!-- Layer 5 Icon -->
                    <div class="tp-caption lft tp-resizeme button" data-x="600" data-y="745" data-speed="800" data-start="3000" data-easing="fadeInUp" style="max-width: auto; max-height: auto;">
                        <a href='#features-area' style="padding: 20px 45px; font-family: 'Montserrat', sans-serif; font-size: 20px; text-transform: uppercase; color: #666666; background:#fff; border-radius:50px; font-weight:400; text-align:center;">
                          learn more
                        </a>
                    </div>
                </li>
                <!-- 2nd SLIDE End -->
            </ul>
        </div>
    </div>
</div>
<!-- ================= End Main Slider Area ================= -->
