<!-- ================= Start Our Team Area ================= -->
<section id="our-team-area">
    <div class="container no-padding padding-top-100 padding-bottom-40">
        <div class="row">
            <div class="col-md-12">
                <!-- Section Title -->
                <div class="section_title_black text-center margin-bottom-60">
                    <h2>Meet Our Team</h2>
                    <p>It’s quality and modern PSD template. It is an elegant solution for corporate business, portfolio sites.</p>
                </div>
            </div>
        </div>
        <div class="our-team-img-tab">
            <!-- Nav tabs Area Start -->
            <ul class="col-md-12 col-sm-12 col-xs-12 no-padding" role="tablist">
                <li role="presentation" class="col-md-3 col-sm-3 col-xs-3 no-padding active">
                    <a href="#ceo" aria-controls="ceo" role="tab" data-toggle="tab">
                        <img class="img-responsive" src="{{asset "/theme_images/team-images/team-member-1.jpg"}}" alt="Our Team Image">
                    </a>
                </li>
                <li role="presentation" class="col-md-3 col-sm-3 col-xs-3 no-padding">
                    <a href="#md" aria-controls="md" role="tab" data-toggle="tab">
                        <img class="img-responsive" src="{{asset "/theme_images/team-images/team-member-2.jpg"}}" alt="Our Team Image">
                    </a>
                </li>
                <li role="presentation" class="col-md-3 col-sm-3 col-xs-3 no-padding">
                    <a href="#lead-designer" aria-controls="lead-designer" role="tab" data-toggle="tab">
                        <img class="img-responsive" src="{{asset "/theme_images/team-images/team-member-3.jpg"}}" alt="Our Team Image">
                    </a>
                </li>
                <li role="presentation" class="col-md-3 col-sm-3 col-xs-3 no-padding">
                    <a href="#lead-developer" aria-controls="lead-developer" role="tab" data-toggle="tab">
                        <img class="img-responsive" src="{{asset "/theme_images/team-images/team-member-4.jpg"}}" alt="Our Team Image">
                    </a>
                </li>
            </ul>
            <!-- Nav tabs Area End -->
        </div>
    </div>

    <div class="our-team-content">
        <div class="overlay">
            <div class="container no-padding">
                <!-- Tab panes -->
                <div class="tab-content row">
                    <!-- Single Tab Panel Area Start -->
                    <div role="tabpanel" class="tab-pane active" id="ceo">
                        <div class="col-md-6 text-right">
                            <!-- Single Team Member Info -->
                            <div class="single-team-info">
                                <h2>Michel Johnshon</h2>
                                <p><span>Chief Executive Officer</span></p>
                                <p>Managing Director Vestibulum varius fermentum risus vitae lacinia neque auctor nec. Nunc ac rutrum nulla. Nulla maximus dolor in quam euismod ac viverra libero aliquet. Nunc sed nunc malesuada aliquet turpis eu, dictum lectus. Vivamus fermentum mipsum eget vehicula .eros finibus at Pellentesque sed iaculis odio</p>
                                <div class="team-social-icon">
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-envelope"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single-team-skills">
                                <!-- Single Progress -->
                                <div class="progress">
                                    <div class="lead">Creativity</div>
                                    <div class="progress-bar wow fadeInLeft" data-progress="62%" style="width: 62%;" data-wow-duration="1.5s" data-wow-delay="0.2s">
                                        <span>62%</span>
                                    </div>
                                </div>
                                <!-- Single Progress -->
                                <div class="progress">
                                    <div class="lead">Photoshop</div>
                                    <div class="progress-bar wow fadeInLeft" data-progress="88%" style="width: 88%;" data-wow-duration="1.5s" data-wow-delay="0.2s">
                                        <span>88%</span>
                                    </div>
                                </div>
                                <!-- Single Progress -->
                                <div class="progress">
                                    <div class="lead">Wordpress</div>
                                    <div class="progress-bar wow fadeInLeft" data-progress="75%" style="width: 75%;" data-wow-duration="1.5s" data-wow-delay="0.2s">
                                        <span>75%</span>
                                    </div>
                                </div>
                                <!-- Single Progress -->
                                <div class="progress">
                                    <div class="lead">Illustrator</div>
                                    <div class="progress-bar wow fadeInLeft" data-progress="55%" style="width: 55%;" data-wow-duration="1.5s" data-wow-delay="0.2s">
                                        <span>55%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Tab Panel Area End -->

                    <!-- Single Tab Panel Area Start -->
                    <div role="tabpanel" class="tab-pane" id="md">
                        <div class="col-md-6 text-right">
                            <!-- Single Team Member Info -->
                            <div class="single-team-info">
                                <h2>Shon Michel</h2>
                                <p><span>Managing Director</span></p>
                                <p>Vestibulum varius fermentum risus vitae lacinia neque auctor nec. Nunc ac rutrum nulla. Nulla maximus dolor in quam euismod ac viverra libero aliquet. Nunc sed nunc malesuada aliquet turpis eu, dictum lectus. Vivamus fermentum mipsum eget vehicula .eros finibus at Pellentesque sed iaculis odio.</p>
                                <div class="team-social-icon">
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-envelope"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single-team-skills">
                                <!-- Single Progress -->
                                <div class="progress">
                                    <div class="lead">Creativity - 62%</div>
                                    <div class="progress-bar wow fadeInLeft" data-progress="62%" style="width: 62%;" data-wow-duration="1.5s" data-wow-delay="0.2s">
                                        <span>62%</span>
                                    </div>
                                </div>
                                <!-- Single Progress -->
                                <div class="progress">
                                    <div class="lead">Photoshop - 88%</div>
                                    <div class="progress-bar wow fadeInLeft" data-progress="88%" style="width: 88%;" data-wow-duration="1.5s" data-wow-delay="0.2s">
                                        <span>88%</span>
                                    </div>
                                </div>
                                <!-- Single Progress -->
                                <div class="progress">
                                    <div class="lead">Wordpress - 75%</div>
                                    <div class="progress-bar wow fadeInLeft" data-progress="75%" style="width: 75%;" data-wow-duration="1.5s" data-wow-delay="0.2s">
                                        <span>75%</span>
                                    </div>
                                </div>
                                <!-- Single Progress -->
                                <div class="progress">
                                    <div class="lead">Illustrator - 55%</div>
                                    <div class="progress-bar wow fadeInLeft" data-progress="55%" style="width: 55%;" data-wow-duration="1.5s" data-wow-delay="0.2s">
                                        <span>55%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Tab Panel Area End -->

                    <!-- Single Tab Panel Area Start -->
                    <div role="tabpanel" class="tab-pane" id="lead-designer">
                        <div class="col-md-6 text-right">
                            <!-- Single Team Member Info -->
                            <div class="single-team-info">
                                <h2>Touhida Envato</h2>
                                <p><span>Lead Designer</span></p>
                                <p>Vestibulum varius fermentum risus vitae lacinia neque auctor nec. Nunc ac rutrum nulla. Nulla maximus dolor in quam euismod ac viverra libero aliquet. Nunc sed nunc malesuada aliquet turpis eu, dictum lectus. Vivamus fermentum mipsum eget vehicula .eros finibus at Pellentesque sed iaculis odio.</p>
                                <div class="team-social-icon">
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-envelope"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single-team-skills">
                                <!-- Single Progress -->
                                <div class="progress">
                                    <div class="lead">Creativity - 62%</div>
                                    <div class="progress-bar wow fadeInLeft" data-progress="62%" style="width: 62%;" data-wow-duration="1.5s" data-wow-delay="0.2s">
                                        <span>62%</span>
                                    </div>
                                </div>
                                <!-- Single Progress -->
                                <div class="progress">
                                    <div class="lead">Photoshop - 88%</div>
                                    <div class="progress-bar wow fadeInLeft" data-progress="88%" style="width: 88%;" data-wow-duration="1.5s" data-wow-delay="0.2s">
                                        <span>88%</span>
                                    </div>
                                </div>
                                <!-- Single Progress -->
                                <div class="progress">
                                    <div class="lead">Wordpress - 75%</div>
                                    <div class="progress-bar wow fadeInLeft" data-progress="75%" style="width: 75%;" data-wow-duration="1.5s" data-wow-delay="0.2s">
                                        <span>75%</span>
                                    </div>
                                </div>
                                <!-- Single Progress -->
                                <div class="progress">
                                    <div class="lead">Illustrator - 55%</div>
                                    <div class="progress-bar wow fadeInLeft" data-progress="55%" style="width: 55%;" data-wow-duration="1.5s" data-wow-delay="0.2s">
                                        <span>55%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Tab Panel Area End -->

                    <!-- Single Tab Panel Area Start -->
                    <div role="tabpanel" class="tab-pane" id="lead-developer">
                        <div class="col-md-6 text-right">
                            <!-- Single Team Member Info -->
                            <div class="single-team-info">
                                <h2>Michel Botham</h2>
                                <p><span>Lead Developer</span></p>
                                <p>Vestibulum varius fermentum risus vitae lacinia neque auctor nec. Nunc ac rutrum nulla. Nulla maximus dolor in quam euismod ac viverra libero aliquet. Nunc sed nunc malesuada aliquet turpis eu, dictum lectus. Vivamus fermentum mipsum eget vehicula .eros finibus at Pellentesque sed iaculis odio.</p>
                                <div class="team-social-icon">
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-envelope"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single-team-skills">
                                <!-- Single Progress -->
                                <div class="progress">
                                    <div class="lead">Creativity - 62%</div>
                                    <div class="progress-bar wow fadeInLeft" data-progress="62%" style="width: 62%;" data-wow-duration="1.5s" data-wow-delay="0.2s">
                                        <span>62%</span>
                                    </div>
                                </div>
                                <!-- Single Progress -->
                                <div class="progress">
                                    <div class="lead">Photoshop - 88%</div>
                                    <div class="progress-bar wow fadeInLeft" data-progress="88%" style="width: 88%;" data-wow-duration="1.5s" data-wow-delay="0.2s">
                                        <span>88%</span>
                                    </div>
                                </div>
                                <!-- Single Progress -->
                                <div class="progress">
                                    <div class="lead">Wordpress - 75%</div>
                                    <div class="progress-bar wow fadeInLeft" data-progress="75%" style="width: 75%;" data-wow-duration="1.5s" data-wow-delay="0.2s">
                                        <span>75%</span>
                                    </div>
                                </div>
                                <!-- Single Progress -->
                                <div class="progress">
                                    <div class="lead">Illustrator - 55%</div>
                                    <div class="progress-bar wow fadeInLeft" data-progress="55%" style="width: 55%;" data-wow-duration="1.5s" data-wow-delay="0.2s">
                                        <span>55%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Tab Panel Area End -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================= End Our Team Area ================= -->
