<!-- ================= Start Pricing Area ================= -->
<section id="pricing-area">
    <div class="container section-padding text-center">
        <div class="row">
            <div class="col-md-12">
                <!-- Section Title -->
                <div class="section_title_black margin-bottom-60">
                    <h2>Pricing Plans</h2>
                    <p>It’s quality and modern PSD template. It is an elegant solution for corporate business, portfolio sites.</p>
                </div>
            </div>
        </div>
        <div class="row plan-hover">
            <!-- Single Price Plan Area Start -->
            <div class="col-md-3 col-sm-6">
                <div class="plan">
                    <!-- Title -->
                    <div class="head">
                        <h3>Basic</h3>
                    </div>
                    <!-- Price -->
                    <div class="price">
                        <h2>$9.99 <span>/month</span></h2>
                    </div>
                    <ul>
                        <li><span>20GB</span> Storage</li>
                        <li><span>1 FREE</span> Domain Name</li>
                        <li><span>100</span> Mailboxes</li>
                        <li><span>5</span> One-Click Apps </li>
                        <li><span>25</span> Databases</li>
                        <li><span>24/7</span> Support</li>
                        <li><span>Money Back</span> Guarantee</li>
                    </ul>
                    <div class="choose_a_plan_button">
                        <a href="single-blog.html">Choose Plan</a>
                    </div>
                </div>
            </div>
            <!-- Single Price Plan Area End -->

            <!-- Single Price Plan Area Start -->
            <div class="col-md-3 col-sm-6">
                <div class="plan">
                    <!-- Title -->
                    <div class="head">
                        <h3>Standard</h3>
                    </div>
                    <!-- Price -->
                    <div class="price">
                        <h2>$19.99 <span>/month</span></h2>
                    </div>
                    <ul>
                        <li><span>40GB</span> Storage</li>
                        <li><span>1 FREE</span> Domain Name</li>
                        <li><span>200</span> Mailboxes</li>
                        <li><span>10</span> One-Click Apps </li>
                        <li><span>50</span> Databases</li>
                        <li><span>24/7</span> Support</li>
                        <li><span>Money Back</span> Guarantee</li>
                    </ul>
                    <div class="choose_a_plan_button">
                        <a href="single-blog.html">Choose Plan</a>
                    </div>
                </div>
            </div>
            <!-- Single Price Plan Area End -->

            <!-- Single Price Plan Area Start -->
            <div class="col-md-3 col-sm-6">
                <div class="plan">
                    <!-- Title -->
                    <div class="head">
                        <h3>Premium</h3>
                    </div>
                    <!-- Price -->
                    <div class="price">
                        <h2>$39.99 <span>/month</span></h2>
                    </div>
                    <ul>
                        <li><span>90GB</span> Storage</li>
                        <li><span>1 FREE</span> Domain Name</li>
                        <li><span>500</span> Mailboxes</li>
                        <li><span>30</span> One-Click Apps </li>
                        <li><span>100</span> Databases</li>
                        <li><span>24/7</span> Support</li>
                        <li><span>Money Back</span> Guarantee</li>
                    </ul>
                    <div class="choose_a_plan_button">
                        <a href="single-blog.html">Choose Plan</a>
                    </div>
                </div>
            </div>
            <!-- Single Price Plan Area End -->

            <!-- Single Price Plan Area Start -->
            <div class="col-md-3 col-sm-6">
                <div class="plan">
                    <!-- Title -->
                    <div class="head">
                        <h3>Popular *</h3>
                    </div>
                    <!-- Price -->
                    <div class="price">
                        <h2>$29.99 <span>/month</span></h2>
                    </div>
                    <ul>
                        <li><span>60GB</span> Storage</li>
                        <li><span>1 FREE</span> Domain Name</li>
                        <li><span>300</span> Mailboxes</li>
                        <li><span>20</span> One-Click Apps </li>
                        <li><span>80</span> Databases</li>
                        <li><span>24/7</span> Support</li>
                        <li><span>Money Back</span> Guarantee</li>
                    </ul>
                    <div class="choose_a_plan_button">
                        <a href="single-blog.html">Choose Plan</a>
                    </div>
                </div>
            </div>
            <!-- Single Price Plan Area End -->
        </div>
    </div>
</section>
<!-- ================= End Pricing Area ================= -->
