<!-- ================= Start Purchase Area ================= -->
<section id="purchase-area">
    <div class="overlay section-padding-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{!-- <img src="{{asset "/theme_images/purchase-icon.png"}}" alt="Purchase Icon" /> --}}
                    <h2>Register on the forums to gain access to the online Lightwork editor</h2>
                    <!-- Get a quote Button -->
                    <div class="get_a_quote">
                        <a href="http://forums.hohmbody.com/ucp.php?mode=register">Register now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================= End Purchase Area ================= -->
