<!-- ================= Start Purchase Area ================= -->
<section id="purchase-area">
    <div class="overlay section-padding-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img src="{{asset "/theme_images/purchase-icon.png"}}" alt="Purchase Icon" />
                    <h2>Do you love our Projects & want to become a  partner of the business?</h2>
                    <!-- Get a quote Button -->
                    <div class="get_a_quote">
                        <a href="#">Get a Quote</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================= End Purchase Area ================= -->
