<!-- ================= End Services Area ================= -->
<section id="services-area">
    <div class="container section-padding">
        <div class="row">
            <div class="col-md-12">
                <!-- Section Title -->
                <div class="section_title_black text-center">
                    <h2>Our Services</h2>
                    <p>It’s quality and modern PSD template. It is an elegant solution for corporate business, portfolio sites.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- Single Service Area Start -->
            <div class="col-md-4 col-sm-6">
                <div class="single_service_area">
                    <!-- Single Service Icon Start -->
                    <div class="service_icon">
                        <i class="icon-lightbulb"></i>
                    </div>
                    <!-- Single Service Text Start -->
                    <div class="service_text">
                        <h6>Parallax Effect</h6>
                        <p>Phasellus sit amet tristique ligula. Donec iaculis leo suscipit ultricies Interdum tal esuada fames ante infaucibus.</p>
                    </div>
                </div>
            </div>
            <!-- Single Service Area End -->

            <!-- Single Service Area Start -->
            <div class="col-md-4 col-sm-6">
                <div class="single_service_area">
                    <!-- Single Service Icon Start -->
                    <div class="service_icon">
                        <i class="icon-presentation"></i>
                    </div>
                    <!-- Single Service Text Start -->
                    <div class="service_text">
                        <h6>Awesome Interface</h6>
                        <p>Phasellus sit amet tristique ligula. Donec iaculis leo suscipit ultricies Interdum tal esuada fames ante infaucibus.</p>
                    </div>
                </div>
            </div>
            <!-- Single Service Area End -->

            <!-- Single Service Area Start -->
            <div class="col-md-4 col-sm-6">
                <div class="single_service_area">
                    <!-- Single Service Icon Start -->
                    <div class="service_icon">
                        <i class="icon-tools"></i>
                    </div>
                    <!-- Single Service Text Start -->
                    <div class="service_text">
                        <h6>Clean Code</h6>
                        <p>Phasellus sit amet tristique ligula. Donec iaculis leo suscipit ultricies Interdum tal esuada fames ante infaucibus.</p>
                    </div>
                </div>
            </div>
            <!-- Single Service Area End -->

            <!-- Single Service Area Start -->
            <div class="col-md-4 col-sm-6">
                <div class="single_service_area">
                    <!-- Single Service Icon Start -->
                    <div class="service_icon">
                        <i class="icon-strategy"></i>
                    </div>
                    <!-- Single Service Text Start -->
                    <div class="service_text">
                        <h6>Data Analysis</h6>
                        <p>Phasellus sit amet tristique ligula. Donec iaculis leo suscipit ultricies Interdum tal esuada fames ante infaucibus.</p>
                    </div>
                </div>
            </div>
            <!-- Single Service Area End -->

            <!-- Single Service Area Start -->
            <div class="col-md-4 col-sm-6">
                <div class="single_service_area">
                    <!-- Single Service Icon Start -->
                    <div class="service_icon">
                        <i class="icon-genius"></i>
                    </div>
                    <!-- Single Service Text Start -->
                    <div class="service_text">
                        <h6>Extra Security</h6>
                        <p>Phasellus sit amet tristique ligula. Donec iaculis leo suscipit ultricies Interdum tal esuada fames ante infaucibus.</p>
                    </div>
                </div>
            </div>
            <!-- Single Service Area End -->

            <!-- Single Service Area Start -->
            <div class="col-md-4 col-sm-6">
                <div class="single_service_area">
                    <!-- Single Service Icon Start -->
                    <div class="service_icon">
                        <i class="icon-cloud"></i>
                    </div>
                    <!-- Single Service Text Start -->
                    <div class="service_text">
                        <h6>Cloud Server</h6>
                        <p>Phasellus sit amet tristique ligula. Donec iaculis leo suscipit ultricies Interdum tal esuada fames ante infaucibus.</p>
                    </div>
                </div>
            </div>
            <!-- Single Service Area End -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- ================= End Services Area ================= -->
