<!-- ================= Start Testimonials Area ================= -->
<section id="testimonials-area">
    <div class="overlay section-padding-dark">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="testimonial-icon text-center">
                        <i class="fa fa-comments-o"></i>
                    </div>

                    <div class="testimonial_carousel">
                        <!-- Single testimonial area start -->
                        <div class="item text-center">
                            <blockquote>
                                <div class="testimonial-content">
                                    <h3>Thanks!! I am happy. Required i more feature of 'hiding photos' and one more i.e 'restore app' privacy option is not on the application as in screen shots & its awesome website...</h3>
                                    <div class="client-photo">
                                        <img src="<?php bloginfo('template_directory'); ?>/theme_images/testimonial-images/testimonial.png" alt="">
                                    </div>
                                    <p>Md. Ashiful Haque Pappu</p>
                                    <p>Founder | AsceticDesigners</p>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Single testimonial area end -->

                        <!-- Single testimonial area start -->
                        <div class="item text-center">
                            <blockquote>
                                <div class="testimonial-content">
                                    <h3>Thanks!! I am happy. Required i more feature of 'hiding photos' and one more i.e 'restore app' privacy option is not on the application as in screen shots & its awesome website...</h3>
                                    <div class="client-photo">
                                        <img src="<?php bloginfo('template_directory'); ?>/theme_images/testimonial-images/testimonial.png" alt="">
                                    </div>
                                    <p>Md. Nazrul Islam</p>
                                    <p>Front-end Developer | AsceticDesigners</p>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Single testimonial area end -->
                    </div>
                </div>
                <!-- /.col-xs-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
</section>
<!-- ================= End Testimonials Area ================= -->
