/* ============================================
2.    Start Header CSS
=============================================== */

.inventea-headerbar {
    margin-top: 75px;
}

.header-area {
    height: 75px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
}

.header-area #navigation {
    padding-top: 0px;
}

.header-area #navigation li {
    display: inline-block;
}

.header-area img.invert {
    -webkit-filter: invert(1);
    filter: invert(1);
}

.header-area .container {
    width: 1170px;
    margin: 0 auto;
    height: 100%;
}

.header-area .mainmenu {
    position: relative;
    top: 1px;
    right: 1px;
}

.header-area .navbar-header {
    display: none;
}

.header-area .logo {
    display: inline-block !important;
}

/* END HACKS TO GET THIS WORKING IN A DIFFERENT THEME */

.header-area {
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    max-width: 100%;
    -webkit-transition: background-color 0.25s cubic-bezier(0, 0, 0, .6) 0s;
    transition: background-color 0.25s cubic-bezier(0, 0, 0, .6) 0s;
}

.header-area .logo {
    height: 35px;
    padding: 0;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
    top: 1px;
}

.logo img {
    height: 44px;
    width: auto;
}

.header-area .sr-only {
    display: none;
}

.header-area .navbar-toggle {
    padding: 10px;
    color: transparent;
    background-color: transparent;
    border: none;
}

.navbar-toggle .icon-bar {
    background: #3498db;
    height: 2px;
    width: 17px;
    display: block;
    margin-bottom: 3px;
}

ul#nav {
    text-align: right;
    font-size: 0;
    padding-right: 82px;
}

.mainmenu ul.nav li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    letter-spacing: 1px;
}

.mainmenu ul.nav li a {
    -webkit-transition-delay: .1s;
    transition-delay: .1s
}

.mainmenu ul.nav li a {
    color: #fff;
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 65px;
    padding: 15px 30px;
    text-decoration: none;
    -webkit-transition: .36s;
    transition: .36s;
    opacity: 1;
    filter: alpha(opacity=100);
    font-family: "Ubuntu", sans-serif;
}

.menuEffect .mainmenu ul.nav li a {
    padding: 15px 20px;
    opacity: 0;
    filter: alpha(opacity=0);
}

.mainmenu ul.nav li a:before,
.mainmenu ul.nav li.active a:before {
    background: #3498db none repeat scroll 0 0;
    content: "";
    height: 2px;
    left: 50%;
    right: 50%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.mainmenu ul.nav li a:hover:before,
.mainmenu ul.nav li.active a:before {
    left: 0;
    right: 0;
}

.mainmenu ul.nav li a:after,
.mainmenu ul.nav li.active a:after {
    position: absolute;
    content: "";
    left: calc( 50% - 4px);
    bottom: -4px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 4px solid #3498db;
    -webkit-transition: .36s;
    transition: .36s;
    opacity: 0;
    filter: alpha(opacity=0);
}

.mainmenu ul.nav li a:hover:after,
.mainmenu ul.nav li.active a:after {
    bottom: 2px;
    opacity: 1;
    filter: alpha(opacity=100);
}

.mainmenu ul.nav li a:hover,
.mainmenu ul.nav li a:active {
    background-color: rgba(0, 0, 0, .4);
    color: #3498db;
}

.mainmenu ul.nav li a:focus {
    background-color: transparent;
    color: #fff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: rgba(0, 0, 0, .4);
    color: #3498db;
}

.logo,
.logo img,
.mainmenu ul.nav li a,
.search-box,
.search-box i,
.search-box input {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.header-area {
    background-color: rgba(0, 0, 0, 1);
}

.logo {
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo img {
    height: 35px;
    width: auto;
}

.mainmenu ul.nav li a {
    padding: 5px 30px;
}

.mainmenu nav.navbar-default {
    background: transparent;
    border-color: transparent;
}

.mainmenu nav.navbar {
    padding: 0;
    margin: -1px 0;
}

.mainmenu nav .navbar-toggle {
    margin-top: 0px;
    border-radius: 0px;
    margin-right: 0px;
    top: -25px;
}

.menu_open_close_search {
    height: 100%;
    padding-top: 37px;
    position: absolute;
    right: 0;
    width: 82px;
}

.menu_open_close_search {
    padding-top: 27px;
}

.menu_open_close_search span {
    color: #3498db;
    cursor: pointer;
    font-size: 28px;
    font-weight: 700;
    line-height: 23px;
    position: absolute;
    right: 0;
    top: 42px;
    width: 15px;
    height: 13px;
    text-align: center;
}

.menu_open_close_search span {
    top: 32px;
}

.menu_open_close_search span .menuOpenClose {
    background: #3498db;
    height: 2px;
    position: absolute;
    top: 6px;
    width: 15px;
}

.menu_open_close_search span .menuOpenClose:before {
    background: #3498db;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: -4px;
    width: 100%;
}

.menu_open_close_search span .menuOpenClose:after {
    background: #3498db;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 4px;
    width: 100%;
}

.menu_open_close_search span.Cross .menuOpenClose:before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu_open_close_search span.Cross .menuOpenClose:after {
    top: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.menu_open_close_search span.Cross .menuOpenClose {
    background: transparent !important;
}

form.search-box {
    position: absolute;
    right: 37px;
    opacity: 1;
    filter: alpha(opacity=100);
}

.menuEffect form.search-box {
    opacity: 0;
    filter: alpha(opacity=0);
}

.search-box i {
    color: #3498db;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    left: 5px;
    line-height: 15px;
    position: absolute;
    top: 4px;
    z-index: 1;
}

.search-box input[type="text"] {
    border: medium none;
    border-radius: 1px;
    height: 25px;
    line-height: 25px;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.7s ease-in-out 0s;
    transition: all 0.7s ease-in-out 0s;
    width: 20px;
}

.search-box input[type="submit"] {
    display: none;
}

.search-box:hover input,
.search-box input:focus {
    opacity: 1;
    filter: alpha(opacity=100);
    width: 165px;
    padding-left: 25px;
}



@media (min-width: 768px) {
    .header-area .container {
        width: 750px;
    }
}


@media (min-width: 992px) {
    .header-area .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .header-area .container {
        width: 1170px;
    }
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
    .header-area .container {
        width: 450px;
    }
}

@media only screen and (max-width: 767px) {
    .header-area .container {
        width: 300px;
    }
    .header-area .navbar-header {
        display: inline-block;
    }

    .header-area .logo {
        text-align: center;
        width: 100%;
    }

    .header-area .mainmenu {
        display: none;
    }

    .header-area .mainmenu {
        background: black;
        width: 100%;
        position: absolute;
        top: 75px;
    }

    .header-area ul#nav {
        text-align: center;
        padding-right: 0px;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .header-area .container {
        width: 750px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    ul#nav {
        padding-right: 75px;
    }
    .mainmenu ul.nav li a {
        padding: 5px 20px;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .mainmenu ul#nav li > a {
        padding-right: 12px;
        padding-left: 12px;
    }
    ul#nav {
        padding-right: 30px;
    }
}
